.grid-container {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1100px;
  background: rgba(0, 0, 0, 0.4);
  height: 1000px;
}

.memory-content {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 700px;
  background: rgba(0, 0, 0, 0.7);
  height: 325px;

}

.memory-image {
  margin: 13px;
}

.text {
  width: 430px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  height: 1000px;
}
