.footer {
  display: flex;
  width: auto;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  height: 60px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-link:visited {
  color: #ffffff;
}

.footer-content {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;

}

.page {
  display: flex;
  justify-content: center;
  margin: auto;

  color: white;
  width: 1200px;


}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  background-color: green;

}

.image {
  margin: 2px;
  border: 1px;
  border-color: #030303;
}

body {
  background-image: url("/images/lake.jpeg");
  background-position: center;
  background-repeat: no-repeat;

}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 4em;
}

.welcome {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  height: 470px;

}

.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 325px;

  margin 3px;
}

.image {
  display: flex;
  justify-content: center;
}
